<div class="sssss">


  <div class="row">
    <p class="line">Your browser history</p><label class="color">view or edit browser history</label>
    <label class="edge">page 2 of 4</label><label class="king">start over</label>
  </div>
  <div class="row">
    <!-- <img  src="../../assets/Mahadev-Images-Wallpaper-HD-Full-Size.jpg" class="image-fluid col-sm"> -->
    <img src="../../assets/download (1).jpg" class="image-fluid col-sm">
    <img src="../../assets/download (2).jpg" class="image-fluid col-sm">
    <img src="../../assets/download (3).jpg" class="image-fluid col-sm">
    <!-- <img src="../../assets/images.jpg" class="image-fluid col-sm"> -->
    <!-- <img  src="../../assets/Mahadev-Images-Wallpaper-HD-Full-Size.jpg" class="image-fluid col-sm"> -->
    <img src="../../assets/download (1).jpg" class="image-fluid col-sm">
    <img src="../../assets/download (2).jpg" class="image-fluid col-sm">
    <img src="../../assets/download (3).jpg" class="image-fluid col-sm">
    <img src="../../assets/download (1).jpg" class="image-fluid col-sm">
    <img src="../../assets/download (2).jpg" class="image-fluid col-sm">
    <img src="../../assets/download (3).jpg" class="image-fluid col-sm">
    <img src="../../assets/download (2).jpg" class="image-fluid col-sm">

    <!-- <img src="../../assets/images.jpg" class="image-fluid col-sm"> -->
  </div>
</div>